<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="display-row">
        <div class="container">
            <p>Grid</p>
            <div class="grid-container">
                <div class="grid-item item1">A</div>
                <div class="grid-item item2">B</div>
                <div class="grid-item item3">C</div>  
                <div class="grid-item item4">D</div>
                <div class="grid-item item5">E</div>
            </div>
        </div>
        <div class="container">
            <p>Flexbox</p>
            <div class="flex-box-container">
                <div class="flex-row">
                    <div class="grid-item flex-item">A</div>
                    <div class="grid-item flex-item">B</div>
                </div>
                <div class="flex-row">
                <div class="grid-item flex-item">C</div>  
                <div class="grid-item flex-item flex-item4">D</div>
                </div>
                <div class="grid-item flex-item">E</div>
            </div>
        </div>
    </div>
</body>
</html>


